<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Car</title>
</head>
<body>
<h1> Add new Car</h1>
<form  action="#" th:action="@{/cars/add}" th:object="${car}" method="post">
    <div>
        Brand : <input type="text" th:field="*{brand}" required>
    </div>
    <div>
<!--        <label for Model > Model </label>-->
        Model : <input id="Model" type="text" th:field="*{model}" required>
    </div>
    Color  <select th:field="*{color}">
        <option th:value="Red"> Red</option>
        <option th:value="Blue"> Blue</option>
        <option th:value="Green"> Green</option>
        <option th:value="Black"> Black</option>
        <option th:value="White"> White</option>
    </select>
    <div>
        Transmission type;
        <label for auto > auto</label>
        <input th:field="*{transmission}" type="radio" name="Transmission type" value="auto" Automatic>
        <label for manual > manual</label>
        <input th:field="*{transmission}" type="radio" name="Transmission type" value="manual " manual>
    </div>
    <div>
        Year : <input type="number" th:field="*{yearManufacturing}" required>
    </div>
    <div>
        Price : <input type="number" th:field="*{price}" required>
    </div>
    <br>

   <button type="submit"  class = "btn btn-primary" value="some "> Add car  </button>

</form>
<br>
<br>
<div class = "box-footer">
    <a href="/cars/all"> All list</a>
</div>

</body>
</html>